{% load static %}
{% load tags %}
{% load i18n %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <script src="{% static 'jQueryUI/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'jQueryUI/ui/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jQueryUI/themes/base/jquery.ui.all.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'jQueryUI/demos/demos.css' %}">
    <title>{% block title %}{% trans "Radnet" %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->

        {% bootstrap_css %}
      {% bootstrap_javascript %}
      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

      {% block extra_head %}{% endblock %}



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--
  <style type="text/css">
    body {
      background-image: url({% static 'picts/RadNetCircle-MinionPro-Sm.png' %});
      background-repeat: no-repeat;
      background-position: center center;
      }
  </style> -->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{% trans "RadNet Online Data" %}</h3>
              <ul class="nav masthead-nav">
                <li class="{% active request "^/$" %}"><a href="/">{% trans "Home" %}</a></li>
                {% if request.user.is_authenticated %}
                <li><a class="{% active request "^accounts/logout/$" %}" href="/accounts/logout/">{% trans "Logout" %}</a></li>
                {% else %}
                <li class="{% active request "^/accounts/login/$" %}"><a href="/accounts/login/">{% trans "Login" %}</a></li>
                {% endif %}
                <li><a href="#">{% trans "Contact" %}</a></li>
                <li><a href="#">{% trans "About" %}</a></li>
                {% if request.user.is_authenticated %}
                <li class="{% active request "^/Data/Add" %}"><a href="/Data/AddData/">{% trans "Add Data" %}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          {% block body_block %}{% endblock %}

          <div class="mastfoot">
            <div class="inner">
                <p>{% blocktrans %}This project is the result of many hours of hard work of the RadNet team at the <a href="http://www.unk.edu">University of Nebraska at Kearney</a>.
                    Click <a href="#">here</a> if you want to help out!{% endblocktrans %}</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-2.1.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
  </body>
</html>